@model DrDocx_Core.Models.Patient

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout__header-row">
        </div>
        <div class="mdl-grid mdl-layout__header-row">
            <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" asp-controller="Home" asp-action="Index">
                <i class="material-icons">chevron_left</i>
            </a>

            <h3 style="margin-left: 10px; font-size: 34px; line-height: 40px;">
                @Html.DisplayFor(model => model.Name) (@Html.DisplayFor(model => model.PreferredName))
            </h3>
            <div class="mdl-layout-spacer"></div>
        </div>
        <div class="mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <a href="#overview" class="mdl-layout__tab is-active">Overview</a>
            <a href="#testresults" class="mdl-layout__tab">Test Results</a>
        </div>
    </header>
    <main class="mdl-layout__content">
        <form asp-action="Edit" id="form">
            <input type="hidden" asp-for="Id" />
            <input style="display: none" type="submit" id="form-submit" />
            <div class="mdl-layout__tab-panel is-active" id="overview">
                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                            <h4 class="mdl-cell mdl-cell--12-col">Details</h4>
                            <p>@Html.ValidationSummary()</p>
                            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input required asp-for="Name" disabled class="mdl-textfield__input" type="text" id="fname" value="@Model.Name">
                                    <label class="mdl-textfield__label" for="fname">Full Name</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input asp-for="PreferredName" disabled class="mdl-textfield__input" type="text" id="pname" value="@Model.PreferredName">
                                    <label class="mdl-textfield__label" for="pname">Prefered Name</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input required asp-for="DateOfBirth" disabled class="mdl-textfield__input" type="text" id="dob" value="@Model.DateOfBirth.Year-@Model.DateOfBirth.Month-@Model.DateOfBirth.Day" pattern="\d{1,4}\-\d{1,2}-\d{1,2}">
                                    <label class="mdl-textfield__label" for="dob">Date of Birth (YYYY-MM-DD)</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input required asp-for="DateOfTesting" disabled class="mdl-textfield__input" type="text" id="dot" value="@Model.DateOfTesting.Year-@Model.DateOfTesting.Month-@Model.DateOfTesting.Day" pattern="\d{1,4}\-\d{1,2}-\d{1,2}">
                                    <label class="mdl-textfield__label" for="dot">Date of Tests (YYYY-MM-DD)</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input asp-for="AgeAtTesting" disabled class="mdl-textfield__input" type="text" id="age" value="@Model.AgeAtTesting">
                                    <label class="mdl-textfield__label" for="age">Age at Testing</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input required asp-for="MedicalRecordNumber" disabled class="mdl-textfield__input" type="text" id="mrn" value="@Model.MedicalRecordNumber">
                                    <label class="mdl-textfield__label" for="mrn">Medical Record Number</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input asp-for="Address" disabled class="mdl-textfield__input" type="text" id="address" value="@Model.Address">
                                    <label class="mdl-textfield__label" for="address">Address</label>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-card__actions">
                            <a id="details-button" class="edit-button mdl-button" onclick="toggleEdit('details-button', ['fname', 'pname', 'dob', 'dot', 'mrn', 'address'])">Edit Patient Details</a>
                        </div>
                    </div>
                </section>
                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__supporting-text">
                            <h4 class="mdl-cell mdl-cell--12-col">Notes</h4>
                            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <textarea disabled class="mdl-textfield__input" form="form" type="text" rows="3" id="notes" asp-for="Notes">@Html.DisplayFor(model => model.Notes)</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-card__actions">
                            <a id="notes-button" class="mdl-button" onclick="toggleEdit('notes-button', ['notes'])">Edit Patient Notes</a>
                        </div>
                    </div>
                </section>
                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__supporting-text">
                            <h4 class="mdl-cell mdl-cell--12-col">Medications</h4>
                            <div class="mdl-textfield mdl-js-textfield">
                                <textarea disabled class="mdl-textfield__input" form="form" type="text" rows="3" id="meds" asp-for="Medications">@Html.DisplayFor(model => model.Medications)</textarea>
                            </div>
                        </div>
                        <div class="mdl-card__actions">
                            <a id="meds-button" class="mdl-button" onclick="toggleEdit('meds-button', ['meds'])">Edit Patient Medications</a>
                        </div>
                    </div>
                </section>
                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                            <h4 class="mdl-cell mdl-cell--12-col">Analysis</h4>
                            <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input asp-for="Diagnosis" disabled class="mdl-textfield__input" type="text" id="diag" value="@Model.Diagnosis">
                                    <label class="mdl-textfield__label" for="diag">Diagnosis</label>
                                </div>
                                <br>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                    Download Report
                                </button>
                                <br>
                            </div>
                        </div>
                        <div class="mdl-card__actions">
                            <a id="anal-button" class="mdl-button" onclick="toggleEdit('anal-button', ['diag'])">Edit Diagnosis</a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="mdl-layout__tab-panel" id="testresults">
                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                            <h4 class="mdl-cell mdl-cell--12-col">Add Test Result Group</h4>
                            <div class="mdl-grid mdl-cell mdl-cell--12-col">
                                <div class="mdl-layout-spacer"></div>
                                <select class="mdl-cell mdl-cell--5-col mdl-button mdl-button--raised " id="new-test-group">
                                    <option value="t0">Test CJA-53 L3</option>
                                    <option value="t1">Test CL4 LV</option>
                                    <option value="t1">Test MJ2-17 L3</option>
                                </select>
                                <div class="mdl-layout-spacer"></div>
                                <button class="mdl-cell mdl-cell--5-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Add Test</button>
                                <div class="mdl-layout-spacer"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                            <h4 class="mdl-cell mdl-cell--12-col">Contents</h4>
                            <ul class="mdl-cell mdl-cell--12-col toc">
                                <a href="#">Test CJA-53 L3</a>
                                <a href="#">Test CL4 LV</a>
                                <a href="#">Test MJ2-17 L3</a>
                                <a href="#">Test Freed Jackson</a>
                                <a href="#">Test RLY GD</a>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                            <h4 class="mdl-cell mdl-cell--12-col">Test CJA-53 L3</h4>
                            <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table">
                                <thead>
                                    <tr>
                                        <th class="mdl-data-table__cell--non-numeric"><strong>Test Name</strong></th>
                                        <th>Raw</th>
                                        <th>Scaled</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="mdl-data-table__cell--non-numeric">Sub test 1</td>
                                        <td>25</td>
                                        <td>$2.90</td>
                                    </tr>
                                    <tr>
                                        <td class="mdl-data-table__cell--non-numeric">Sub test 2</td>
                                        <td>50</td>
                                        <td>$1.25</td>
                                    </tr>
                                    <tr>
                                        <td class="mdl-data-table__cell--non-numeric">Sub test 3</td>
                                        <td>10</td>
                                        <td>$2.35</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mdl-card__actions">
                            <a href="#" class="mdl-button">Edit Test Results</a>
                        </div>
                    </div>
                </section>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer class="mdl-mega-footer">
                <div class="mdl-mega-footer--middle-section">
                    <div class="mdl-mega-footer--drop-down-section">
                        <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer--heading">Features</h1>
                        <ul class="mdl-mega-footer--link-list">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Updates</a></li>
                        </ul>
                    </div>
                    <div class="mdl-mega-footer--drop-down-section">
                        <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer--heading">Details</h1>
                        <ul class="mdl-mega-footer--link-list">
                            <li><a href="#">Spec</a></li>
                            <li><a href="#">Tools</a></li>
                            <li><a href="#">Resources</a></li>
                        </ul>
                    </div>
                    <div class="mdl-mega-footer--drop-down-section">
                        <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer--heading">Technology</h1>
                        <ul class="mdl-mega-footer--link-list">
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Patterns</a></li>
                            <li><a href="#">Usage</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Contracts</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </form>
    </main>
</div>